*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to left, #8e2de2, #4a00e0);
}
#gameBoard{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    border-radius: 5px;
}

.box{
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    background-color: white; 
    border-radius: 5px ; 
    transition: box-shadow ease 150ms;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.boxHoverForcross{

    box-shadow: var(--boxShadow, gold 0px 0px 6px 6px) ;
    transition: box-shadow ease 150ms;
}
.boxHoverForcircle{
    box-shadow: var(--boxShadow, #2701ff 0px 0px 6px 6px) ;
    transition: box-shadow ease 150ms;
}
/* .box:hover{
    box-shadow: gold 0px 0px 6px 6px ;
    box-shadow: var(--boxShadow, gold 0px 0px 6px 6px) ;
    transition: box-shadow ease 150ms;
} */
#heading{
    font-size: 4rem;
    margin-bottom: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color: gold;
    text-shadow: 0px 0px 8px gold;
}
#info{
    font-size: 2rem;
    margin-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
.circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 15px solid #4a00e0;
    box-sizing: border-box;
}
.cross{
    width: 90px;
    height: 90px;
    position: relative;
}
.cross::before, .cross::after{
    content: '';
    position: absolute;
    transform: rotate(45deg);
    background-color: #f5af19;
}
.cross::before{
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}
.cross::after{
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;

}